.home_container {
    margin-left: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_container .category {
    min-height: 30px;
    margin-bottom: 30px;
    border: 2px solid rgb(63, 104, 1);  
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container .category a {
    border: greenyellow;
    background-color: rgb(63, 104, 1);
    color: rgba(220, 220, 220, 1);
    font-weight: bold;
    display: inline-block;
    min-width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0px 5px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid  rgba(220, 220, 220, 1);
}

.home_container .bookmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home_container .bookmark_wrapper {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(39, 34, 34);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.home_container .top {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    background-color: rgb(63, 104, 1);
} 

.home_container .top span {
    color: white;
    flex-grow: 1;
}

.home_container .top svg {
    height: 20px;
}

.home_container .top svg path {
    fill: white;
    margin-left: 10px;
}

.home_container .bottom {
    background-color: turquoise;
    flex-grow: 1;

    position: relative;
}

.home_container .bottom div {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    word-wrap: break-word;
    color: gray;

    overflow: hidden;
}

.home_container .bottom .highlight {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: transparent;
}

.home_container .bottom .highlight:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(50, 50, 50, 0.4);
}

.more_options {
    position: absolute;
    right: 30px;
    top: 10px;

    display: none;
    z-index: 1000;
}

.more_options ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 59, 59);
}

.more_options ul li {
    width: 100%;
    padding: 5px;
    margin-bottom: 1px;
    background-color: rgb(39, 34, 34);
    border: none;
    color: rgb(150, 142, 142);;
}

.more_options ul li:hover {
    cursor: pointer;
    background-color: rgb(180, 173, 173);
    color:rgb(63, 104, 1)
}

.home_container .top svg:hover {
    cursor: pointer;
    background-color: rgb(117, 173, 32);
    border-radius: 10px;
}

.home_container .top svg:hover ~ .more_options{
    display: block;
    background-color: rebeccapurple;
}

.more_options:hover {
    display: block;
}