<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bookmarks Panel</title>
    {% load static %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'css/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Login1.css' %}">
</head>
<body>
    {% include 'side_bar.html' %}

	<section>
        <div class="login-box">
            <form method="POST" action="create_bookmark">
                {% csrf_token %}
                <h1 class=loghead>Bookmark Panel</h1>
                <br>
                Site Name:<br>
	            <input type="name" name="name" style="margin: 0px; width: 100%; height:30px;"><br>
                <br>
                Url Link:<br>
	            <input type="link" name="link" style="margin: 0px; width: 100%; height:30px;"><br>
	            <br>
		        <label for="types">Type Site Category:</label>
                <input type="category" name="category" style="margin: 0px; width: 100%; height:30px;"><br>
                <br>
                Actions:<br>
		        <div class="btn">
                    <button style="height: 40px;width: 120px" class="button">Add</button>
                    <button style="height: 40px;width: 120px" class="button">Clear</button>
                </div>
                <div class="btn">
                    
                </div>
            </form>
        </div>
	</section>
</body>
</html>