<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bookmarks Panel</title>
	<link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/Login1.css' %}">
</head>
<body>
    {% include 'side_bar.html' %}

	<section>
        <div class="login-box">
            <form> 
                <h1 class=loghead>Bookmark Panel</h1>
                <br>
                Site Name:<br>
	            <input type="name" name="name" style="margin: 0px; width: 100%; height:30px;"><br>
                <br>
                Url Link:<br>
	            <input type="link" name="link" style="margin: 0px; width: 100%; height:30px;"><br>
	            <br>
		        <label for="types">Type or Choose Categories here:</label>
                <input type="link" name="link" style="margin: 0px; width: 100%; height:30px;"><br>
                    <select id="types" name="types">
                        <option value="social media">Social Media</option>
                        <option value="blog">Blog</option>
                        <option value="movie streaming">Movie Streaming</option>
                        <option value="Personal links">Perosnal Links</option>
                </select>
		        <br>
                <br>
                Actions:<br>
		        <div class="btn">
                    <button style="height: 40px;width: 120px" class="button">Add</button>
                    <button style="height: 40px;width: 120px" class="button">Delete</button>
                </div>
                <div class="btn">
                    <button style="height: 40px;width: 120px" class="button">Update</button>
                    <button style="height: 40px;width: 120px" class="button">Clear</button>
                </div>
            </form>
        </div>
	</section>
</body>
</html>