<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login Here</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico" />
    {% load static %}
    <!-- Loading static files into a single location -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login1.css' %}">
    <!-- Django static files location -->
</head>

<body>
    {% include 'side_bar.html' %}

    <section>
        <div class="login-box">
            <form action="authenticate" method="POST"> 
                {% csrf_token %}
                <h1 class=loghead>Login Panel</h1>
                <br>
                <i class="fas fa-user"></i>
                Username<br>
                <input type="username" name="username" style="margin: 0px; width: 100%; height:30px;"><br>
                <br>
                <i class="fas fa-lock"></i>
                Password<br>
                <input type="password" name="password" style="margin: 0px; width: 100%; height:30px;">
                <br>
                <div class="btn"><button style="height: 40px;width: 120px" class="button">Login</button></div>
                <br>
                <p class="message">If you are not registered then click <a href="{% url 'register' %}"
                        style="color: #30b85d;">Register</a></p>
            </form>
        </div>
    </section>
</body>
</html>