{% block side_bar %}
    <nav>
        <div class="wrapper">
            <div class="sidebar">
                <h2>BMS</h2>
                <ul>
                    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a></li>
                    <li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i>About</a></li>
                    <li><a href="{% url 'feedback' %}"><i class="fas fa-address-book"></i>Feedback</a></li>
                </ul>
                <div class="social_media">
                    <a href="{% url 'registration' %}">Register</a>
                    <a href="{% url 'inputs' %}">Input</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock side_bar %}