{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/Register1.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookmark.css' %}">

    <title>Document</title>
</head>
<body>
    {% include "side_bar.html" %}

    <section>
        <div class="login-box">
            <form method="POST" action="update">
                {% csrf_token %}
                <h1 class=loghead>Bookmark Panel</h1>
                <br>
                Site Name:<br>
	            <input type="name" name="name" style="margin: 0px; width: 100%; height:30px;" value="{{choosen_bookmark.site_name}}"><br>
                <br>
                Url Link:<br>
	            <input type="link" name="link" style="margin: 0px; width: 100%; height:30px;" value="{{choosen_bookmark.url}}"><br>
	            <br>
		        <label for="types">Type or Choose Categories here:</label>
                <input class="category_field" type="category" name="category" style="margin: 0px; width: 100%; height:30px;" value="{{choosen_bookmark.category}}"><br>
                    <select class="category_selection" id="types" name="types" onchange="update_fields()">
                        <option value="social media">Social Media</option>
                        <option value="blog">Blog</option>
                        <option value="movie streaming">Movie Streaming</option>
                        <option value="Personal links">Perosnal Links</option>  
                </select>
		        <br>
                <br>
                Actions:<br>
                <div class="btn">
                    <button style="height: 40px;width: 120px" class="button update">Update</button>
                </div>
            </form>
        </div>

        <script>
            function update_fields() {
                var category_selection = document.querySelector(".category_selection")
                document.querySelector(".category_field").value = category_selection.value
            }
        </script>
	</section>
</body>
</html>